<h2>Product Details</h2>
<div *ngIf="product">
    <h3>{{ product.name }}</h3>
    <h4>{{ product.price.amount | currency}}</h4>
    <p>{{ product.description }}</p>

    <h2>Related Products</h2>
    <div *ngFor="let product of relatedProducts">
        <h3>
            <a [title]="product.name + 'details'"
            [routerLink]="['/products', product.id]">
                {{product.name}}
            </a>
        </h3>
        <div><span>Price: </span>{{product.price.amount | currency}}</div>
    </div>
</div>
