<div class="container">
    <div class="d-flex justify-content-xl-end flex-row">
        <div class="p-2">
            <mat-form-field appearance="fill">
                <mat-label>Select Currency</mat-label>
                <mat-select [(value)]="selectedCurrency" (selectionChange)="selected()">
                    <mat-option *ngFor="let currency of currencyList | async" [value]="currency">
                        {{currency.base}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>
    </div>
    <div *ngIf="products">
        <div class="d-flex justify-content-xl-center flex-row">
            <div class="p-2">
                <h2>Products</h2>
                <div *ngFor="let product of products | async">
                    <h3>
                        <a [title]="product.name + ' details'"
                        [routerLink]="['/products', product.id]">
                            {{product.name}}
                        </a>
                    </h3>
                    <div *ngIf="selectedCurrency"><span>Price: </span>{{product.price.adjAmount | currency:selectedCurrency.base}}</div>
                <br>
                </div>
            </div>
        </div>
    </div>
</div>
